#chart{
    display:grid;
    width:4em;
    height:4em;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr;
}

.chartItem{
    border:1px solid black;
    font-weight: bold;
    font-size:3em;
}

.c1, .c2, .c3{
    position:absolute;
}

.r1{
    top:-.95em;
}

.r2{
    top:-.5em
}

.r3{
    top:-.06em
}

.c1{
    left:-.1em;
}

.c2{
    left:.3em;
}

.c3{
    left:.75em;
}

